/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESETS */


/* ROOT */

:root {

    /* === Colors === */

    /* Identity Colors */
    --pk-color-primary: #DC0A2D;
    --pk-color-secondary: #28AAFD;

    /* Pokemon Types */
    --pk-color-bug: #A7B723;
    --pk-color-dark: #75574C;
    --pk-color-dragon: #7037FF;
    --pk-color-electric: #F9CF30;
    --pk-color-fairy: #E69EAC;
    --pk-color-fighting: #C12239;
    --pk-color-fire: #F57D31;
    --pk-color-flying: #A891EC;
    --pk-color-ghost: #70559B;
    --pk-color-normal: #AAA67F;
    --pk-color-grass: #74CB48;
    --pk-color-ground: #DEC16B;
    --pk-color-ice: #9AD6DF;
    --pk-color-posion: #A43E9E;
    --pk-color-psychic: #FB5584;
    --pk-color-rock: #B69E31;
    --pk-color-steel: #B7B9D0;
    --pk-color-water: #6493EB;

    /* Grayscale */
    --pk-color-dark: #212121;
    --pk-color-medium: #666666;
    --pk-color-light: #E0E0E0;
    --pk-color-bg: #EFEFEF;
    --pk-color-white: #FFFFFF;

    /* === Typography === */

    /* Headline */
    --pk-headline-size: 24px;
    --pk-headline-line-height: 32px;
    --pl-headline-weight: 700;

    /* Subtitle 1 */
    --pk-subtitle1-size: 14px;
    --pk-subtitle1-line-height: 16px;
    --pk-subtitle1-weight: 700;

    /* Subtitle 2 */
    --pk-subtitle2-size: 12px;
    --pk-subtitle2-line-height: 16px;
    --pk-subtitle2-weight: 700;

    /* Subtitle 3 */
    --pk-subtitle3-size: 10px;
    --pk-subtitle3-line-height: 16px;
    --pk-subtitle3-weight: 700;

    /* Body 1 */
    --pk-body1-size: 14px;
    --pk-body1-line-height: 16px;
    --pl-body1-weight: 400;

    /* Body 2 */
    --pk-body2-size: 12px;
    --pk-body2-line-height: 16px;
    --pl-body2-weight: 400;

    /* Body 3 */
    --pk-body3-size: 10px;
    --pk-body3-line-height: 16px;
    --pl-body3-weight: 400;

    /* Caption */
    --pk-body2-size: 8px;
    --pk-body2-line-height: 23px;
    --pl-body2-weight: 400;

    /* === Elevation === */
    --pk-elevation-md: 0px 3px 12px 3px rgba(0, 0, 0, 0.20);
    --pk-elevation-sm: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);

    /* === Depression === */
    --pk-depression-md: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;

    /* === Spacing === */
    --pk-spacing-tiny: 2px;
    --pk-spacing-xxs: 4px;   
    --pk-spacing-xs: 8px;  
    --pk-spacing-sm: 12px; 
    --pk-spacing-md: 16px;  
    --pk-spacing-lg: 24px;  
    --pk-spacing-xl: 32px;  
    --pk-spacing-xxl: 40px;
    --pk-spacing-3xl: 48px; 
    --pk-spacing-4xl: 64px; 
    --pk-spacing-5xl: 80px;
    
    /* === Rounded === */
    --pk-rounded-sm: 4px;    
    --pk-rounded-md: 8px;    
    --pk-rounded-lg: 10px;   
    --pk-rounded-xl: 12px;   
    --pk-rounded-xxl: 16px;  
    --pk-rounded-full: 9999px; 
    --pk-rounded-none: 0px;   
}

/* ROOT */
